@import '../variables';

calendar{
  position: fixed;
  right: 60px;
  top: 420px;
  text-align: right;

  h3{
    color: $secondary-color;
    font-weight: 300;
  }

  .events{
    margin-top: 5px;

    > h3{
      margin-bottom: 10px;
      span{
        color: $primary-color;
      }
    }

    .event{
      position: relative;
      margin-bottom: 20px;

      i{
        position: absolute;
        left: -35px;
        top: 17px;
        font-size: 22px;
        color: $secondary-color;
      }
    }
  }

}
