.UserScreen {
  height: 100%;
  overflow-y: auto;
  padding: 0 10%;
  margin: auto;
}

.UserScreen table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
}

.UserScreen .UsersList,
.UserForm {
  margin-top: 20px;
}

.UserScreen table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

.UserScreen td {
  padding: 8px;
}

.UserScreen thead {
  background-color: #3e404d;
  color: white;
  font-weight: 500;
}
