<div class="flex flex-column space-between">
    <div class="flex flex-column">
        <div class="flex">
            <logo></logo>
            <datetime></datetime>
        </div>
        <message></message>
    </div>
    <marcel-github></marcel-github>
    <lunchplace [organization]="1"></lunchplace>
</div>

<div class="flex flex-column space-between flex-full">
    <forecast></forecast>
    <speech>

    </speech>
    <div class="flex flex-full space-around">
        <marcel-twitter></marcel-twitter>
        <soundtouch></soundtouch>
    </div>
</div>

<div class="flex flex-column space-between text-align-right">
    <vlille></vlille>
    <calendar></calendar>
    <home></home>
</div>

<!--
<anniversaire></anniversaire>
<trafic></trafic>
<weather-icon [numberlist]="2"></weather-icon>
-->
