[submodule "plugins/marcel-plugin-hello"]
	path = plugins/marcel-plugin-hello
	url = https://github.com/Zenika/marcel-plugin-hello.git
[submodule "plugins/marcel-plugin-calendar"]
	path = plugins/marcel-plugin-calendar
	url = git@github.com:Zenika/marcel-plugin-calendar.git
	branch = master
[submodule "plugins/marcel-plugin-datetime"]
	path = plugins/marcel-plugin-datetime
	url = git@github.com:Zenika/marcel-plugin-datetime.git
	branch = master
[submodule "plugins/marcel-plugin-devfest"]
	path = plugins/marcel-plugin-devfest
	url = git@github.com:Zenika/marcel-plugin-devfest.git
	branch = master
[submodule "plugins/marcel-plugin-github"]
	path = plugins/marcel-plugin-github
	url = git@github.com:Zenika/marcel-plugin-github.git
	branch = master
[submodule "plugins/marcel-plugin-logo"]
	path = plugins/marcel-plugin-logo
	url = git@github.com:Zenika/marcel-plugin-logo.git
	branch = master
[submodule "plugins/marcel-plugin-message"]
	path = plugins/marcel-plugin-message
	url = git@github.com:Zenika/marcel-plugin-message.git
	branch = master
[submodule "plugins/marcel-plugin-soundtouch"]
	path = plugins/marcel-plugin-soundtouch
	url = git@github.com:Zenika/marcel-plugin-soundtouch.git
	branch = master
[submodule "plugins/marcel-plugin-speech"]
	path = plugins/marcel-plugin-speech
	url = git@github.com:Zenika/marcel-plugin-speech.git
	branch = master
[submodule "plugins/marcel-plugin-twitter"]
	path = plugins/marcel-plugin-twitter
	url = git@github.com:Zenika/marcel-plugin-twitter.git
	branch = master
[submodule "plugins/marcel-plugin-vlille"]
	path = plugins/marcel-plugin-vlille
	url = git@github.com:Zenika/marcel-plugin-vlille.git
	branch = master
[submodule "plugins/marcel-plugin-weather"]
	path = plugins/marcel-plugin-weather
	url = git@github.com:Zenika/marcel-plugin-weather.git
	branch = master
[submodule "plugins/marcel-plugin-welcome"]
	path = plugins/marcel-plugin-welcome
	url = git@github.com:Zenika/marcel-plugin-welcome.git
	branch = master
[submodule "plugins/marcel-plugin-youtube"]
	path = plugins/marcel-plugin-youtube
	url = git@github.com:Zenika/marcel-plugin-youtube.git
	branch = master
[submodule "plugins/marcel-plugin-temperature"]
	path = plugins/marcel-plugin-temperature
	url = git@github.com:Zenika/marcel-plugin-temperature
	branch = master
[submodule "plugins/marcel-plugin-humidity"]
	path = plugins/marcel-plugin-humidity
	url = git@github.com:Zenika/marcel-plugin-humidity.git
	branch = master
[submodule "plugins/marcel-plugin-birthday"]
	path = plugins/marcel-plugin-birthday
	url = git@github.com:Zenika/marcel-plugin-birthday.git
[submodule "plugins/marcel-plugin-marcel"]
	path = plugins/marcel-plugin-marcel
	url = git@github.com:Zenika/marcel-plugin-marcel.git
[submodule "plugins/marcel-plugin-gitlab"]
	path = plugins/marcel-plugin-gitlab
	url = https://github.com/Zenika/marcel-plugin-gitlab
[submodule "plugins/marcel-plugin-gdrive-gallery"]
	path = plugins/marcel-plugin-gdrive-gallery
	url = https://github.com/EmrysMyrddin/marcel-plugin-gdrive-gallery.git
[submodule "plugins/marcel-plugin-image"]
	path = plugins/marcel-plugin-image
	url = https://github.com/EmrysMyrddin/marcel-plugin-image.git
[submodule "plugins/marcel-plugin-gdrive-news-feed"]
	path = plugins/marcel-plugin-gdrive-news-feed
	url = https://github.com/EmrysMyrddin/marcel-plugin-gdrive-news-feed.git
[submodule "plugins/marcel-plugin-gdrive-carousel"]
	path = plugins/marcel-plugin-gdrive-carousel
	url = https://github.com/EmrysMyrddin/marcel-plugin-gdrive-carousel.git
[submodule "plugins/marcel-plugin-youtube-playlist"]
	path = plugins/marcel-plugin-youtube-playlist
	url = https://github.com/EmrysMyrddin/marcel-plugin-youtube-playlist.git
[submodule "plugins/marcel-plugin-code-heroe"]
	path = plugins/marcel-plugin-code-heroe
	url = https://github.com/EmrysMyrddin/marcel-plugin-code-heroe.git
[submodule "plugins/marcel-plugin-etherpad-board"]
	path = plugins/marcel-plugin-etherpad-board
	url = https://github.com/EmrysMyrddin/marcel-plugin-etherpad-board.git
[submodule "plugins/marcel-plugin-text"]
	path = plugins/marcel-plugin-text
	url = https://github.com/EmrysMyrddin/marcel-plugin-text.git
[submodule "plugins/marcel-plugin-meteofrance"]
	path = plugins/marcel-plugin-meteofrance
	url = https://github.com/EmrysMyrddin/marcel-plugin-meteofrance.git
[submodule "plugins/marcel-plugin-conf-call"]
	path = plugins/marcel-plugin-conf-call
	url = https://github.com/Zenika/marcel-plugin-conf-call.git
[submodule "plugins/marcel-plugin-iframe"]
	path = plugins/marcel-plugin-iframe
	url = https://github.com/Zenika/marcel-plugin-iframe.git
[submodule "plugins/marcel-plugin-zenika-formations"]
	path = plugins/marcel-plugin-zenika-formations
	url = https://github.com/Zenika/marcel-plugin-zenika-formations.git
