.AddMediaCard {
  height: 453px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.AddMediaCard:hover {
  background-color: #eee;
}

.AddMediaCard .addText {
  text-align: center;
}

.AddMediaCard .addIcon {
  font-size: 6em;
  color: green;
}
