@import '../variables';

home{
  h1{
    margin-bottom: 10px;
  }
  h2{
    color: $secondary-color;
    font-weight: 300;
    span{
      color:white;
      font-size: 0.8em;
      width: 70px;
      text-align: right;
      display: inline-block;
    }
  }
  h3{
    color: white;
  }

  .thermometer_img{
    height: 20px;
    width: 50px;
    text-align: center;
    margin-top: 2px;
    float: left;
    

    img{
      max-height: 100%;
    }
  }

}
