.DashboardModification {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.DashboardModification .left-side-panel,
.DashboardModification .right-side-panel {
  width: 20%;
  min-width: 15em;
  box-shadow: 0 0 1.5em 0.05em #DDD;
  overflow-y: auto;
  z-index: -100;
}

.DashboardModification .main-panel {
  width: 60%;
  padding: 1em 3em 1em 3em;
  display: flex;
}

.DashboardModification .left-side-panel {
  border-right: 1px #CCC solid;
}

.DashboardModification .right-side-panel {
  border-left: 1px #CCC solid;
}

.DashboardModification section {
  outline: none;
}
