.DashboardModification {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.DashboardModification .left-side-panel,
.DashboardModification .right-side-panel {
  width: 20%;
  min-width: 15em;
  overflow-y: auto;
}

.DashboardModification .main-panel {
  width: 60%;
  padding: 1em 3em 1em 3em;
  display: flex;
}

.DashboardModification .left-side-panel {
  border-right: 1px #ccc solid;
}

.DashboardModification .right-side-panel {
  border-left: 1px #ccc solid;
}

.DashboardModification section {
  outline: none;
}
