@import '../variables';

weather-icon{
  position: absolute;
  top: 60px;
  left: 340px;
  align-items: center;

  .flex{
    display: flex;
  }

  .weather_temp{
    font-size: 1.2em;
  }
  .weather_text{
    font-size: 1.5em;
    color: $secondary-color;
  }
  .wheather_dt{
    color: $secondary-color;
    font-size: 1em;
    margin-bottom: 2px;
  }

  .icon_content{
    font-size: 60px;
    margin-right: 30px;
  }

  .icon {
    position: relative;
    display: inline-block;
    width: 11em;
    height: 8em;
    font-size: 0.7em; /* control icon size here */
  }
}
