.AddDashboardCard {
  height: 453px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.AddDashboardCard:hover {
  background-color: #EEE;
}

.AddDashboardCard .addText {
  text-align: center;
}

.AddDashboardCard .addIcon {
  font-size: 6em;
  color: green;
}
