.AddDashboardCard {
  height: 453px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.AddDashboardCard:hover {
  background-color: #eee;
}

.AddDashboardCard .addText {
  text-align: center;
}

.AddDashboardCard .addIcon {
  font-size: 6em;
  color: green;
}
