@import '../fonts/font.css';

html {
  height: 100%;
}

body {
  height: 92%;
  margin: 2%;
  background: black;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  zoom: 90%;
  overflow: hidden;
}

#components {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
  animation: fadein 2s;
  font-family: Roboto;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
