@import '../fonts/font.css';

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Roboto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#components {
  height: 100%;
  width: 100%;
}

#components > * {
  overflow: hidden;
}

#error_container {
  position: absolute;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#error {
  padding: 3em;
  max-width: 20%;
  text-align: center;
  background: #ffecec;
  color: red;
  border: #e97b7b solid 1px;
  border-radius: 5px;
}

* {
  animation: fadein 1s;
  font-family: Roboto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
