.ColorPicker .input {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.ColorPicker .label {
  margin-left: 1em;
}

.ColorPicker .cover {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ColorPicker .popover {
  position: absolute;
  z-index: 100;
}

.ColorPicker .swatch {
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  cursor: pointer;
}

.ColorPicker .color {
  width: 2.5em;
  height: 14px;
  border-radius: 2px;
}
