.Dashboard {
  width: 100%;
}

.Dashboard .head {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dashboard .actions {
  display: flex;
  flex-direction: row;
}

.Dashboard .actions > * {
  margin: 0.5em;
}
