.CardGrid {
  padding: 1em;
  width: 100%;
  height: calc(100% - 2em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.loader {
  margin-top: 40vh;
  width: 100%;
}
