<link rel="import" href="/shared-styles/shared-styles.html">
<dom-module id="calendar-item">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        width: 250px;
      }

      h3 {
        color: var(--secondary-color);
        font-weight: 300;
        margin-bottom: 5px;
      }

      .events {
        margin-top: 5px;
      }

      .events > h3 {
        display: block;
        margin-bottom: 10px;
      }

      .events > h3 span {
        color: var(--primary-color);
      }

      .event {
        position: relative;
        margin-bottom: 20px;
      }
    </style>
    <h1>Calendrier</h1>
    <div class="events">
      <h3><span>{{nbEvents}}</span> Events Incoming</h3>
      <template is="dom-repeat" items="{{events}}" as="event">
        <div class="event">
          <h3>{{event.summary}}</h3>
          <template is="dom-if" if="[[event.start.dateTime]]">
            <h4>
              Le 
              <moment-element datetime="{{event.start.dateTime}}" output-format="DD/MM/YY"></moment-element>
              de 
              <moment-element datetime="{{event.start.dateTime}}" output-format="HH:mm"></moment-element>
              à 
              <moment-element datetime="{{event.end.dateTime}}" output-format="HH:mm"></moment-element>
            </h4>
          </template>

          <template is="dom-if" if="[[event.start.date]]">
            <h4>
              Du 
              <moment-element datetime="{{event.start.date}}" output-format="DD/MM/YY"></moment-element>
              au
              <moment-element datetime="{{event.end.date}}" output-format="DD/MM/YY"></moment-element>
            </h4>
          </template>
        </div>
      </template>
    </div>
  </template>

  <script>
    (() => {
      class Calendar extends Polymer.Element {
        static get is () { return 'calendar-item' }

        static get properties () {
          return {
            events: Array,
            nbEvents: Number,
            timer: Number,
            url: String
          }
        }

        connectedCallback () {
          super.connectedCallback();

          this.events = [];
          this.timer = 1000 * 60 * 60;
          this._updateEvents();
          setInterval(() => this._updateEvents(), this.timer);
        }

        _updateEvents () {
          this._getEvents()
              .then(events => {
                this.nbEvents = events.length;
                this.events = events.slice(0, 3)
              })
        }

        _getEvents () {
          return fetch(this.url)
                    .then(res => res.json())
                    .then(res => res.items);
        }
      }

      customElements.define(Calendar.is, Calendar);
    })();
  </script>
</dom-module>