<link rel="import" href="/shared-styles/shared-styles.html">
<dom-module id="calendar-item">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        width: 250px;
      }

      h3 {
        color: var(--secondary-color);
        font-weight: 300;
        margin-bottom: 5px;
      }

      .events {
        margin-top: 5px;
      }

      .events > h3 {
        display: block;
        margin-bottom: 10px;
      }

      .events > h3 span {
        color: var(--primary-color);
      }

      .event {
        position: relative;
        margin-bottom: 20px;
      }
    </style>
    <h1>Calendrier</h1>
    <div class="events">
      <h3><span>{{events.length}}</span> Events Incoming</h3>
      <template is="dom-repeat" items="[[events]]" as="event">
        <h3>{{event.summary}}</h3>
        <template is="dom-if" if="[[event.start.dateTime]]">
          <h4>Le {{event.start.dateTime}} de {{event.start.dateTime}} à {{event.end.dateTime}}</h4>
        </template>

        <template is="dom-if" if="[[event.start.date]]">
          <h4>Du {{event.start.date}} au {{event.end.date }}</h4>
        </template>
      </template>
    </div>
  </template>

  <script>
    (() => {
      class Calendar extends Polymer.Element {
        static get is () { return 'calendar-item' }

        static get properties () {
          return {
            events: Array,
            timer: Number,
            url: String
          }
        }

        connectedCallback () {
          super.connectedCallback();

          this.events = [];
          this.timer = 1000 * 60 * 60;
          this._updateEvents();
          setInterval(() => this._updateEvents(), this.timer);
        }

        _updateEvents () {
          this._getEvents()
              .then(events => {
                this.events = events.slice(0, 4);
              })
        }

        _getEvents () {
          return fetch(this.url)
                    .then(res => res.json())
                    .then(res => res.items);
        }
      }

      customElements.define(Calendar.is, Calendar);
    })();
  </script>
</dom-module>