.PluginsScreen {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.PluginsScreen .CardGrid {
  height: calc(100vh - 75px - 64px - 20px);
}

.PluginsScreen .PluginVersion {
  margin-left: 1em;
  font-size: 0.6em;
  color: #0005;
}
