.AppLayout {
  height: 100%;
}

.AppLayout > main {
  height: calc(100% - 64px);
  width: 100%;
}

.AppLayout > header,
.AppLayout > footer {
  z-index: 100;
}

.AppLayout .AppBarNavigation {
  padding: 0 10px;
  height: 100%;
}

.AppLayout .AppBarLink {
  color: white;
  padding: 0 8px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.AppLayout .AppBarLink .material-icons {
  margin-right: 5px;
}

.AppLayout [role='group'] {
  height: 100%;
}

.AppLayout .AppBarLink.active {
  background-color: #fff4;
}
