<link rel="import" href="/shared-styles/shared-styles.html">
<dom-module id="devfest-item">
  <template>
    <style include="shared-styles"></style>
    <h1>Devfest</h1>
    <template is="dom-repeat" items="[[talks]]" as="talk">
      <!--{{talk.title}}<br />-->
    </template>
    <template is="dom-repeat" items="[[speakers]]" as="speaker">
      {{speaker.name}}<br />
    </template>
  </template>

  <script>
    (() => {
      class Devfest extends Polymer.Element {
        static get is() { return 'devfest-item' }

        static get properties() {
          return {
            speakers: Array,
            speakers_url: String,
            talks: Array,
            talks_url: String
          }
        }

        connectedCallback() {
          super.connectedCallback();

          this._fetchDevfestTalks();
          this._fetchDevfestSpeakers();
        }

        _fetchDevfestTalks () {
          fetch(this.talks_url)
            .then(res => res.json())
            .then(res => this.talks = res);
        }

        _fetchDevfestSpeakers () {
          fetch(this.speakers_url)
            .then(res => res.json())
            .then(res => this.speakers = res);  
        }
      }

      customElements.define(Devfest.is, Devfest);
    })();
  </script>
</dom-module>