<link rel="import" href="/shared-styles/shared-styles.html">
<dom-module id="devfest-item">
  <template>
    <style include="shared-styles"></style>
    <template is="dom-repeat" items="[[talks]]" as="talk">
      <!--{{talk.title}}-->
    </template>
    <template is="dom-if" if="speaker">
       {{speaker.bio}}
    </template>
    <template is="dom-repeat" items="[[speakers]]" as="speaker">
      <!--{{speaker.name}}<br />-->
    </template>
  </template>

  <script>
    (() => {
      class Devfest extends Polymer.Element {
        static get is() { return 'devfest-item' }

        static get properties() {
          return {
            speaker: Object,
            speakers: Array,
            speakers_url: String,
            talks: Array,
            talks_url: String
          }
        }

        connectedCallback () {
          super.connectedCallback();

          socket.on('devfest', (req) => this._handleRequest(req));

          this._fetchDevfestTalks();
          this._fetchDevfestSpeakers();
        }
        
        _handleRequest (req) {
          switch (req.type) {
            case "conf":

              break;
            case "planning":

              break;
            case "current":

              break;
            case "speaker":
              this._displayBio(req.name);
              break;
          }
        }

        _displayBio (name) {
          this.speaker = this.speakers.filter(speaker => speaker.name === name)[0];
        }

        _fetchDevfestTalks () {
          fetch(this.talks_url)
            .then(res => res.json())
            .then(res => this.talks = res);
        }

        _fetchDevfestSpeakers () {
          fetch(this.speakers_url)
            .then(res => res.json())
            .then(res => this.speakers = res);  
        }
      }

      customElements.define(Devfest.is, Devfest);
    })();
  </script>
</dom-module>