.AppLayout {
  height: 100%;
}

.AppLayout > main {
  height: calc(100% - 64px);
  width: 100%;
}

.AppLayout > header,
.AppLayout > footer {
  z-index: 100;
}

.AppLayout .AppBarNavigation {
  margin-right: 10px;
}

.AppLayout .AppBarLink {
  color: white;
  margin: 0 8px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
}

.AppLayout .AppBarLink .material-icons {
  margin-right: 5px;
}

.AppLayout [role='group'] {
  height: 100%;
}
