github{

    position:absolute;
    left: 60px;
    top: 640px;

    h2{
      color: #c10d12;
      font-weight: 300;
    }
    span{
        color: #c10d12;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}