@import '../variables';

github{

    position:absolute;
    left: 60px;
    top: 440px;

    h2{
      color: $secondary-color;
      font-weight: 300;
    }
    span{
        color: $secondary-color;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li{
            display: flex;
            > *{
                padding: 5px;
            }
            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
            span{
                line-height: 30px;
                &.number{
                    font-weight: bold;
                }
            }
        }
    }
}