clock{

  -webkit-transition: all .2s ;
  -moz-transition: all .2s ;
  -o-transition: all .2s ;
  transition: all .2s ;

  .clock-circle {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3), inset 0 1px 8px rgba(34, 34, 34, 0.3);
    // background: url(../img/bg.png) 0 50%;

    .clock-face {
      width: 100%;
      height: 100%;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        margin: -6px 0 0 -6px;
        background: #fff;
        border-radius: 6px;
        content: "";
        display: block
      }

      .clock-hour {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 -4px -25%;
        padding: 4px 0 4px 25%;
        background: #fff;
        -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        border-radius: 4px 0 0 4px;
        -webkit-transition: all .2s ;
        -moz-transition: all .2s ;
        -o-transition: all .2s ;
        transition: all .2s ;
      }

      .clock-minute {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40% -3px 0;
        padding: 40% 3px 0;
        background: #fff;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        border-radius: 3px 3px 0 0;
        -webkit-transition: all .2s ;
        -moz-transition: all .2s ;
        -o-transition: all .2s ;
        transition: all .2s ;
      }

      .clock-second {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40% -1px 0 0;
        padding: 40% 1px 0;
        background: #fff;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition: all .2s ;
        -moz-transition: all .2s ;
        -o-transition: all .2s ;
        transition: all .2s ;
      }
    }
  }
}
